@font-face
{
    font-family: 'cavortingregular';
    src: url('cavorting-webfont.woff2') format('woff2'),
         url('cavorting-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1
{
     font-family: "cavortingregular";
     font-size: 400%;
     text-align: center;
}

.header
{
     padding-bottom: 100px;
}

.col-xs-6
{
     padding-bottom: 100%;
}

ul
{
     list-style-type: none;
}

.vertical-divider
{
     border-right: 1px solid black;
}

.right-col
{
     text-align: center;
}
