@font-face
{
    font-family: 'cavortingregular';
    src: url('cavorting-webfont.woff2') format('woff2'),
         url('cavorting-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1
{
     font-family: "cavortingregular";
     text-align: center;
}
